* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#colordiv {
  position: absolute;
  z-index: 1;
  border: solid black 2px;
}

#colordivheader {
  cursor: move;
}
